
  <div> 
  <div>
    <h2> <%= @recipe.name %></h2> 
    <h3>by <%= @recipe.user.email %> </h3> 
  </div>


  <div>
    <h3>Preparation time: <%= @recipe.preparation_time %> min</h3>
    <div >
      
      <% if @recipe.public %>
        <label for="publicToggle">Public</label>
        <input type="checkbox" id="publicToggle" checked disabled>
      <% else %>
        <label for="publicToggle">Public</label>
        <input type="checkbox" id="publicToggle" disabled>
      <% end %>
   
    </div>
    <p>Cooking time: <%= @recipe.cooking_time %> min</p>
    <p>Steps: </p>
    <p> <%= @recipe.description %> </p>
  </div>



  <div>
    <%= link_to "Generate shopping list", user_recipe_shopping_list_index_path(current_user.id, @recipe.id),class: "btn btn-outline-primary"%> 
    <%= link_to "Add ingredients",  new_user_recipe_recipe_food_path(current_user.id, @recipe.id), class: "btn btn-outline-primary" %>
  </div>

  <% if @recipe_foods.any? %>

     <div>
        <div class="col-3" >Food</div>
        <div class="col-2">Quantity </div>
        <div class="col-3">Value </div>
        <div class="col-4">Actions</div>
    </div>
    

      <% @recipe_foods.each do |recipe_food| %>
      <% food = Food.find(recipe_food.food_id) %>
      <div>
        <div> <%= Food.find(recipe_food.food_id).name %> </div>
        <div> <%= recipe_food.quantity %></div>
        <div> <%= food.measurement_unit %></div>
        <div> 
          <%= link_to "Modify","/foods" %>
          <%= button_to "Delete", user_recipe_food_recipe_food_path(current_user.id, @recipe.id, food.id, recipe_food.id), method: :delete, 
                  data: {confirm: 'Are you sure?'} %>
        </div>
      </div>
      <% end %>
      <% end %>
</div>