<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  
      <% if user_signed_in? %>
        <%= render 'layouts/header' %> 
      <% else %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Sign In', new_user_session_path, :class => "glyphicon glyphicon-log-in" %></li>
        <li><%= link_to 'Sign Up', new_user_registration_path, :class => "glyphicon glyphicon-user" %></li>
      </ul>  
      <% end %>

     <%= yield %>
      <% if flash.any? %>
        <%= render 'layouts/messages' %>
      <% end %>

  </body>
</html>
